section.section-top {
    background-image: url('https://image.freepik.com/vetores-gratis/codigo-de-programacao-fundo-de-codificacao-ou-hacker-icone-de-codigo-de-programacao-feito-com-codigo-binario_127544-815.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}

.text-wraper-section {
    max-width: 450px;
    float: right;
    color: white;
    margin: 100px 100px;
}

.text-wraper-section h2 {
    font-family: 'Noto Sans JP', sans-serif;
}

.text-wraper-section p {
    font-size: 17px;
    font-weight: 250;
}

.text-wraper-section li {
    font-weight: 250;
}

section#aboutme {
    width: 100%;
    height: 80vh;
    background-color: rgb(20, 109, 109);
}

.container-about-me {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.matheus-box {
    height: 355px;
}

.myphoto {
    background-image: url('../images/my-photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}